@using EDIBANK.Models.Users_EdiWeb
@model ManageUsersViewModel
@{
    ViewBag.Title = "Administrador De Usuarios";
}
    <br />

<div id="ContainerNavbarStyleDrip" class="container-md">
    <header class="center-content">

<h2 class="display-7 fw-bolder">@ViewBag.Title</h2>

</header>
</div>
    <br />
    @if (Model.Success is not null)
    {
        <span class="text-primary">@Model.Success</span>
        <br />
    }
    @if (Model.Failure is not null)
    {
        <span class="text-danger">@Model.Failure</span>
        <br />
    }
    <div class="table-container">
        <table id="Tabla_Monitor2" class="table table-responsive-sm table-striped table-hover table-bordered">
        <thead id="Tabla_Monitor_head2">
            <tr>
                <th colspan="4">ADMINISTRADORES</th>
            </tr>
            <tr>
                <th>Correo</th>
                <th>@Html.DisplayNameFor(static string (ManageUsersViewModel mu) => mu.AppUser.DisplayName)</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            @foreach (AppUser? appUser in Model.AdminRole)
            {
                <tr>
                    <td>@appUser.Email</td>
                    <td>@appUser.DisplayName</td>
                    <td>
                        <a class="btn btn-sm btn-success mb-0 bi bi-arrow-clockwise" asp-action="Update" asp-route-id="@appUser.Id">&nbsp;Actualizar</a>
                    </td>
                    <td>
                        @if (appUser.Id == Model.AppUser.Id)
                        {
                            <span class="btn btn-sm btn-secondary mb-0 bi bi-person-dash-fill">&nbsp;Eliminar</span>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-danger mb-0 bi bi-person-dash-fill" type="button" data-bs-toggle="modal" data-bs-target="#manageUsersModal" data-bs-titulo="Eliminar Usuario" data-bs-contenido="@($"{appUser.DisplayName} ({appUser.Email})")" data-bs-accion="Delete" data-bs-id="@appUser.Id">&nbsp;Eliminar</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <table id="Tabla_Monitor2" class="table table-responsive-sm table-striped table-hover table-bordered">
        <thead id="Tabla_Monitor_head2">
            <tr>
                <th colspan="5">USUARIOS</th>
            </tr>
            <tr>
                <th>Correo</th>
                <th>@Html.DisplayNameFor(static string (ManageUsersViewModel mu) => mu.AppUser.DisplayName)</th>
                <th>@Html.DisplayNameFor(static string (ManageUsersViewModel mu) => mu.AppUser.EDIId)</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            @foreach (AppUser? appUser in Model.UserRole)
            {
                <tr>
                    <td>@appUser.Email</td>
                    <td>@appUser.DisplayName</td>
                    <td>@appUser.EDIId</td>
                    <td>
                        <a class="btn btn-sm btn-success mb-0 bi bi-arrow-clockwise" asp-action="Update" asp-route-id="@appUser.Id">&nbsp;Actualizar</a>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-danger mb-0 bi bi-person-dash-fill" type="button" data-bs-toggle="modal" data-bs-target="#manageUsersModal" data-bs-titulo="Eliminar Usuario" data-bs-contenido="@($"{appUser.DisplayName} ({appUser.Email})")" data-bs-accion="Delete" data-bs-id="@appUser.Id">&nbsp;Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <br />
<div class="center-content"> 
    <a class="btn btn-primary bi bi-person-fill-add" asp-action="Create">&nbsp;Crear</a>
    </div>

    @* Diálogo modal *@
    @* re: https://getbootstrap.com/docs/5.1/components/modal/#varying-modal-content *@

    <div class="modal fade py-5" id="manageUsersModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-body p-4 text-center">
                    <h5 class="mb-0" id="titulo"></h5>
                    <p class="mb-0" id="contenido"></p>
                </div>
                <form class="modal-footer flex-nowrap p-0" method="post" id="accion">
                    <input type="hidden" id="id" name="id" />
                    <button class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-right" type="submit"><strong>Aceptar</strong></button>
                    <button class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" type="button" data-bs-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('manageUsersModal').addEventListener('shown.bs.modal', function (event) {
            const datos = event.relatedTarget.dataset

            document.getElementById('titulo').textContent = datos.bsTitulo
            document.getElementById('contenido').textContent = datos.bsContenido
            document.getElementById('accion').setAttribute('action', '/ManageUsers/' + datos.bsAccion)
            document.getElementById('id').value = datos.bsId
        })
    </script>